.img1 {
	transform: rotate(90deg);
}
.img2 {
	transform: rotate(-90deg);
}
.img3 {
	transform: rotateX(45deg);
}
.img4 {
	transform: rotateY(-45deg);
}
.img5 {
	transform: rotateZ(90deg);
}
.img6 {
	transform: rotate3d(1, 1, 0, 60deg);
}
.rotate90 {  
  -webkit-transform:rotate(90deg);  
  -moz-transform: rotate(90deg);  
  -ms-transform: rotate(90deg);  
  -o-transform: rotate(90deg);  
  transform: rotate(90deg);  
}  